body {
  margin: 0;
  padding: 2%;
  background-color: ivory;
  background-image: url(./teams/style/images/kobe_bryant_fade_away_widescreen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.cont{
  width: 200px;
}
.prikaz{
  display: flex;
  justify-content: center;
}
.player{
  width: 30%;
}

.West{
  background-color: red;
  width: 200px;
  color: whitesmoke;
  margin: 0 auto;
  margin-top: 10px;
}
.East{
  background-color: blue;
  width: 200px;
  color: whitesmoke;
  margin: 0 auto;
  margin-top: 10px;
}

.header-container{
  position: sticky;
}
.stats{
  width: 550px;
}

