body {
  margin: 0;
  background-color: ivory;
  background-image: url(./teams/style/images/kobe_bryant_fade_away_widescreen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.cont{
  width: 200px;
}
.compare-form{
  display: flex;
}
.prikaz{
  display: flex;
  justify-content: center;
  background: rgba(212, 211, 196, 0.205);
  border-radius: 5%;
}
.player{
  width: 50%;
  margin: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
}

.West{
  background-color: rgb(209, 40, 40);
  width: 210px;
  color: whitesmoke;
  margin: 0 auto;
  padding: 5px;
  margin-top: 10px;
  border-radius: 7px;

}
.East{
  background-color: rgb(0, 2, 107);
  width: 210px;
  color: whitesmoke;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  border-radius: 7px;

}
#root{
  padding: 0;
  margin: 0;
}
.meni{
  display: flex;
  justify-content: space-around;  
}
.wrappera{
  width: 960px;
  margin: 0 auto;
  display: flex;
}
.header-container{
  width: 960px;
  height: auto;
  color: white;
  background-color: rgb(0, 2, 107);
  margin: 0 auto;
  padding: 10px;
  display: flex;
}
.stats{
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  color: white;
}
.gamess{
  height: 40px;
}
.gamess:hover{
  position: relative;
  z-index: 2;
  left: 20px;
  top: -5px;
}
.gamess:hover > .like {
  display: inline-block;
}
.gamess:hover > .dislike {
  display: inline-block;
}

.like{
  width: 20px;
  height: 20px;
  background-image: url(./teams/style/images/like.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
  float: right;
  margin-left: 5px;
}
.dislike{
  width: 20px;
  height: 20px;
  background-image: url(./teams/style/images/dislike.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
  float: right;
}
.games-con{
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home-con{
  width: 960px;
  margin: 0 auto;
  color: white;
}
#home{
  width: 150px;
  height: 30px;
  margin: 20px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 25px;
}
.table-best{
  width: auto;
  margin-left: 20px;
  height: 10px;
  padding: 15px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}

.prof-pic{
  width: 100px;
  border-radius: 50%;
}
.logo{
  height: 90px;
}
.profile{
  width: 960px;
  margin: 0 auto;
}
.user{
  margin-top: 30px;
  color: white;
  font-size: 20px;
  background-color: rgba(212, 211, 196, 0.205);
  padding: 30px;
}
.users{
  border: 1px solid  rgba(212, 211, 196, 0.205);
  padding: 5px;
}
.search-user{
  margin: 30px;
}
.form-group{
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
.form-group > h4 {
  color: white;
}
.form-control{
  margin-bottom: 10px;
}
tr, td{
  color: white;
}
.table{
    background-color: rgba(212, 211, 196, 0.205);
}
#logout{
  width: 300px;
  margin: 0 auto;
  color: white;
  font-size: 20px;
  margin-top: 50px;
  background: rgba(212, 211, 196, 0.205);
  padding: 40px;
  border-radius: 8%;
}
.btn-dark, .btn-danger{
  margin: 3px;
}

#comp{
  height: 38px;
  margin: 0 5px 0 5px;
}
.navigation{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.navigation p{
  color: white;
  font-size: 50px;
  width: 250px;
}
.welcome{
  margin: 0 auto;
  width: 400px;
  text-align: center;
  font-size: 30px;
  color: aliceblue;
}
.span-uvecano{
  font-weight: 600;
  font-size: 37;
  color: blueviolet;
}