.ATL{
    width: 250px;
    background-image: url(./images/58419be4a6515b1e0ad75a58.png) ;
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
}
.BOS{
  width: 250px;
  background-image: url(./images/58419c6aa6515b1e0ad75a61.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  
  .BKN{
    width: 250px;

    background-image: url(./images/58419c7ba6515b1e0ad75a62.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
}
.CHA{
    width: 250px;

    background-image: url(./images/58419bd7a6515b1e0ad75a57.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .CHI{
    width: 250px;

    background-image: url(./images/58419bd7a6515b1e0ad75a57.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .CLE{
    width: 250px;

    background-image: url(./images/58419c8da6515b1e0ad75a63.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .DAL{
    width: 250px;

    background-image: url(./images/58419cd6a6515b1e0ad75a68.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .DEN{
    width: 250px;

    background-image: url(./images/58419b70a6515b1e0ad75a50.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .DET{
    width: 250px;

    background-image: url(./images/58419c4ca6515b1e0ad75a5f.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .GSW{
    width: 250px;

    background-image: url(./images/58419ce2a6515b1e0ad75a69.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .HOU{
    width: 250px;

    background-image: url(./images/58419ceda6515b1e0ad75a6a.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .IND{
    width: 250px;

    background-image: url(./images/58419b8da6515b1e0ad75a52.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .LAC{
    width: 250px;

    background-image: url(./images/58419c59a6515b1e0ad75a60.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .LAL{
    width: 250px;

    background-image: url(./images/58419d0aa6515b1e0ad75a6c.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .MEM{
    width: 250px;

    background-image: url(./images/58419c00a6515b1e0ad75a5a.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .MIA{
    width: 250px;

    background-image: url(./images/58419cafa6515b1e0ad75a65.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .MIL{
    width: 250px;

    background-image: url(./images/58419ba7a6515b1e0ad75a54.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .MIN{
    width: 250px;

    background-image: url(./images/58419bc5a6515b1e0ad75a56.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .NOP{
    width: 250px;

    background-image: url(./images/58419b9ba6515b1e0ad75a53.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .NYK{
    width: 250px;

    background-image: url(./images/58419cc8a6515b1e0ad75a67.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .OKC{
    width: 250px;

    background-image: url(./images/58419c20a6515b1e0ad75a5c.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .ORL{
    width: 250px;

    background-image: url(./images/58419b7da6515b1e0ad75a51.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .PHI{
    width: 250px;

    background-image: url(./images/58419ca3a6515b1e0ad75a64.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .PHX{
    width: 250px;

    background-image: url(./images/58419d52a6515b1e0ad75a6d.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .POR{
    width: 250px;

    background-image: url(./images/58419c2fa6515b1e0ad75a5d.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .SAC{
    width: 250px;

    background-image: url(./images/58419c3da6515b1e0ad75a5e.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .SAS{
    width: 250px;

    background-image: url(./images/58419cbca6515b1e0ad75a66.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .TOR{
    width: 250px;

    background-image: url(./images/58419bf3a6515b1e0ad75a59.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .UTA{
    width: 250px;

    background-image: url(./images/58419bb6a6515b1e0ad75a55.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
  .WAS{
    width: 250px;

    background-image: url(./images/58419c12a6515b1e0ad75a5b.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 10px;
  }
