.ATL{
    width: 250px;
    background-image: url(./images/58419be4a6515b1e0ad75a58.png) ;
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
}
.ATL:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.SAS:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.SAC:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.POR:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.TOR:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.UTA:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.WAS:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.PHX:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.PHI:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.ORL:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.NYK:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.OKC:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.NOP:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.MEM:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.LAL:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.LAC:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.MIL:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.MIA:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.MIN:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.IND:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.HOU:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.GSW:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.DET:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.DEN:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.DAL:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.CLE:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.CHI:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.CHA:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.BKN:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}
.BOS:hover { 
  background-size: 160px;
  font-weight: 800;  
  box-shadow: 3px 3px 17px 9px rgba(0,126,255,0.72);
}



.BOS{
  width: 250px;
  background-image: url(./images/58419c6aa6515b1e0ad75a61.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  
  .BKN{
    width: 250px;

    background-image: url(./images/58419c7ba6515b1e0ad75a62.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
}
.CHA{
    width: 250px;

    background-image: url(./images/58419bd7a6515b1e0ad75a57.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .CHI{
    width: 250px;

    background-image: url(./images/58419bd7a6515b1e0ad75a57.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .CLE{
    width: 250px;

    background-image: url(./images/58419c8da6515b1e0ad75a63.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .DAL{
    width: 250px;

    background-image: url(./images/58419cd6a6515b1e0ad75a68.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .DEN{
    width: 250px;

    background-image: url(./images/58419b70a6515b1e0ad75a50.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .DET{
    width: 250px;

    background-image: url(./images/58419c4ca6515b1e0ad75a5f.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .GSW{
    width: 250px;

    background-image: url(./images/58419ce2a6515b1e0ad75a69.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .HOU{
    width: 250px;

    background-image: url(./images/58419ceda6515b1e0ad75a6a.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .IND{
    width: 250px;

    background-image: url(./images/58419b8da6515b1e0ad75a52.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .LAC{
    width: 250px;

    background-image: url(./images/58419c59a6515b1e0ad75a60.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .LAL{
    width: 250px;

    background-image: url(./images/58419d0aa6515b1e0ad75a6c.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .MEM{
    width: 250px;

    background-image: url(./images/58419c00a6515b1e0ad75a5a.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .MIA{
    width: 250px;

    background-image: url(./images/58419cafa6515b1e0ad75a65.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .MIL{
    width: 250px;

    background-image: url(./images/58419ba7a6515b1e0ad75a54.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .MIN{
    width: 250px;

    background-image: url(./images/58419bc5a6515b1e0ad75a56.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .NOP{
    width: 250px;

    background-image: url(./images/58419b9ba6515b1e0ad75a53.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .NYK{
    width: 250px;

    background-image: url(./images/58419cc8a6515b1e0ad75a67.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .OKC{
    width: 250px;

    background-image: url(./images/58419c20a6515b1e0ad75a5c.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .ORL{
    width: 250px;

    background-image: url(./images/58419b7da6515b1e0ad75a51.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .PHI{
    width: 250px;

    background-image: url(./images/58419ca3a6515b1e0ad75a64.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .PHX{
    width: 250px;

    background-image: url(./images/58419d52a6515b1e0ad75a6d.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .POR{
    width: 250px;

    background-image: url(./images/58419c2fa6515b1e0ad75a5d.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .SAC{
    width: 250px;

    background-image: url(./images/58419c3da6515b1e0ad75a5e.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .SAS{
    width: 250px;

    background-image: url(./images/58419cbca6515b1e0ad75a66.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .TOR{
    width: 250px;

    background-image: url(./images/58419bf3a6515b1e0ad75a59.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .UTA{
    width: 250px;

    background-image: url(./images/58419bb6a6515b1e0ad75a55.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
  .WAS{
    width: 250px;

    background-image: url(./images/58419c12a6515b1e0ad75a5b.png);
    background-position: right;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 6px;
    margin-bottom: 30px;
    border: 5px ridge rgba(23,162,229,0.78);
    border-radius: 1px 40px 0px 40px;
  }
